<footer>
	<div class="wrapper">
		<ul class="nav-footer">
			<li class="nav-footer_item"><a href="#"><img src="img/logo-footer.png"></a></li>
			<li class="nav-footer_item width_lg">
				<h5>Матрасы Magniflex</h5>
				<ul>
					<li><a href="#">Magniflex Pratico</a></li>
					<li><a href="#">Magniflex Merinos</a></li>
					<li><a href="#">Magniflex Waterlattex</a></li>
					<li><a href="#">Magniflex Waterlatex Merinos</a></li>
					<li><a href="#">Magniflex Naturcomfort</a></li>
					<li><a href="#">Magniflex Duoform</a></li>
					<li><a href="#">Magniflex Dualcomfort</a></li>
					<li><a href="#">Magniflex Fresh Touch</a></li>
					<li><a href="#">Magniflex Dual Comfort Anniversary</a></li>
					<li><a href="#">Magniflex Armonia Memoform Dual</a></li>
				</ul>
			</li>
			<li class="nav-footer_item">
				<h5>Подушки Magniflex</h5>
				<ul>
					<li><a href="#">Стандартная</a></li>
					<li><a href="#">Волнообразная</a></li>
					<li><a href="#">Массажная</a></li>
					<li><a href="#">Comfort</a></li>
				</ul>
			</li>
			<li class="nav-footer_item">
				<h5>О компании Magniflex</h5>
				<ul>
					<li><a href="#">Сертификаты</a></li>
					<li><a href="#">Материалы Magniflex</a></li>
				</ul>
			</li>
			<li class="nav-footer_item">
				<h5>Magniflex в Киеве:</h5>
				<dl>
					<dt>Life:</dt>
						<dd>093 329 69 99</dd>
					<dt>Vodafone:</dt>
						<dd>050 710 10 07</dd>
					<dt>Kyivstar:</dt>
						<dd>067 90 60 330</dd>
				</dl>
			</li>
		</ul>
	</div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgL0DPqN8kAL0_C_mojdo3hfjdglGZKqk" type="text/javascript"></script>
<script src="js/main.js"></script>
</body>
</html>