<nav id="nav">
	<ul class="nav-list">
		<li class="nav-list_item">
			<a href="magniflex_mattress.html" class="icon">Матрасы Magniflex<span class="icon"></span></a>
			<ul class="dropdown">
				<li><a href="magniflex_pratico.html">Magniflex Pratico</a></li>
				<li><a href="#">Magniflex Merinos</a></li>
				<li><a href="#">Magniflex Waterlattex</a></li>
				<li><a href="#">Magniflex Waterlatex Merinos</a></li>
				<li><a href="#">Magniflex Naturcomfort</a></li>
				<li><a href="#">Magniflex Duoform</a></li>
				<li><a href="#">Magniflex Dualcomfort</a></li>
				<li><a href="#">Magniflex Fresh Touch</a></li>
				<li><a href="#">Magniflex Dual Comfort Anniversary</a></li>
				<li><a href="#">Magniflex Armonia Memoform Dual</a></li>
			</ul>
		</li>
		<li class="nav-list_item">
			<a href="magniflex_pillows.html">Подушки Magniflex<span class="icon"></span></a>
			<ul class="dropdown">
				<li><a href="#">Стандартная</a></li>
				<li><a href="#">Волнообразная</a></li>
				<li><a href="#">Массажная</a></li>
				<li><a href="#">Comfort</a></li>
			</ul>
		</li>
		<li class="nav-list_item">
			<a href="#">О компании Magniflex<span class="icon"></span></a>
			<ul class="dropdown">
				<li><a href="#">Сертификаты</a></li>
			</ul>
		</li>
		<li class="nav-list_item">
			<a href="magniflex_materials.html">Материалы Magniflex</a>
		</li>
		<li class="nav-list_item ">
			<a href="../magniflex_contakt.html">Контакты</a>
		</li>
	</ul>
</nav>